{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="background:#99ff66 !important" class="jumbotron" bg-dark>

<h1 class="display-4">FatKat's Learn Guitar</h1>
<p class="lead">All entity owned content released into the public domain under <a href="http://unlicense.org/">The Unlicense</a></p>
<p class="lead">
<a class="btn btn-primary btn-lg" href="/emedia/" role="button"\
>View All Videos</a>
</p>
<div class="text-center">

  <img src="https://cdn.pixabay.com/photo/2016/05/30/09/57/guitar-1424478__340.png" class="rounded" alt="...">



  <img src="https://cdn.pixabay.com/photo/2017/10/16/21/54/breaking-2858673__340.png" class="rounded" alt="...">
</div>


</div>
{% if user.is_authenticated %}


	Hi {{ user.username }}!
	<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">login</a> |
	<a href="{% url 'signup' %}">signup</a>





{% endif %}
{% endblock %}
