



{% extends 'base.html' %}

{% block title %}Media{% endblock %}

{% block content %}
 	


     
{% for post in object_list %}



 <div class="card-group">

	<div class="card">
	<div class="card-header">
	<div class="media-entry">
	<h2><a href="{% url 'media_detail' post.pk %}">{{ post.title }}</a></h2>
				<span class="font-weight-bold">{{ post.author }}</span> &middot; <span class="text-muted">{{ post.date }}</span>
	</div>		
<div>
			<div class="card-body">
<iframe width="560" height="315" src={{ post.media_url }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<span class="font-weight-bold">{{ post.info }}</span>			
</div>	
		</div>
			</div>

   

        {% endfor %}





             
  <ul class="pagination">

    {% if page_obj.has_previous %}
	<li><a href="/lvmedia?page={{ page_obj.previous_page_number }}">&laquo;</a></li>

    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

{% if page_obj.number >= 4 %}
 <li class><a href="/lvmedia?page={{ 1 }}">first</a></li>
  {% endif %}






 {% for n in page_obj.paginator.page_range %}
  {% if page_obj.number == n %}
    <li class="page-item active">
      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
    </li>
  {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="/lvmedia?page={{ n }}">{{ n }}</a></li>
  {% endif %}
{% endfor %}

 




 {% if page_obj.has_next %}
     
     <li><a href="/lvmedia?page={{ page_obj.paginator.num_pages }}">last</a></li>     
     <li><a href="/lvmedia?page={{ page_obj.next_page_number }}">&raquo;</a></li>
 
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>


    

  
{% endblock content %}
