{% extends 'base.html' %}

{% block content %}

<div class="media-entry">
	<h1>{{object.title}}</h1>	
<b>{{ object.author }}</b>: {{ object.date }}

</span> &middot; <span class="text-muted">{{ post.date }}</span>
	<div class="container">

	
<div class="col-sm-6">


<div class="embed-responsive embed-responsive-16by9">
<iframe src={{ object.media_url }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>



</div>	
<div class="col-sm-6">

<span class="font-weight-bold">{{ object.info }}</span>
</div>	
	<p><a href="#"> {{ object.media_url }} </a></p
	<p><a href="#">Edit</a> | <a href="#">Delete</a></p>

	<p>Back to <a href="{% url 'emedia_list' %}">Media Efficiency Taxonomy</a>.</p>
</div>


<div class="container">

<h1><a href="/media/8/">Efficiency Taxonomy </a></h1>
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <ul class="list-unstyled">
	<h3><a href="/media/1/">Ordered Lists</a></h3>
        	<li><a href="/media/2/">All Notes</a></li>
        	<li><a href="/media/3/">All Intervals</a></li>
        	<li><a href="/media/4/">Circle of 4ths</a></li>

<h3><a href="/media/5/">Taxonomies</a></h3>
        	<li><a href="/media/6/">Information Hierarchy Taxonomy</a></li>
        	<li><a href="/media/7/">Beginner Taxonomy</a></li>
        	<li><a href="/media/8/">Efficiency Taxonomy</a></li>

 <h3><a href="/media/9/">Perspectives General</a></h3>
        	<li><a href="/media/10/">Perspectives Fret</a></li>
        	<li><a href="/media/11/">Perspectives Spacing</a></li>
        	<li><a href="/media/12/">Perspectives Recommended Fingering</a></li>
        	<li><a href="/media/13/">Perspectives Notes</a></li>
        	<li><a href="/media/14/">Perspectives Interval</a></li>
  
<h3><a href="/media/15/">Maxims</a></h3>
        	<li><a href="/media/16/">Maxim 1</a></li>
        	<li><a href="/media/17/">Maxim 2</a></li>

<h3><a href="/media/18/">Heuristics General</a></h3>
        	<li><a href="/media/19/">Heuristic 1</a></li>
        	<li><a href="/media/20/">Heuristic 2</a></li>
		
        
        	
        	</ul>
        </div>
        <div class="col-md-3">
 <ul class="list-unstyled">
<li><a href="/media/21/">Heuristic 3</a></li>	
<li><a href="/media/22/">Heuristic 4</a></li>
        	<li><a href="/media/23/">Heuristic 5</a></li>
<h3><a href="/media/24/">4 Basic Chords</a></h3>
        	<li><a href="/media/25/">C Major Across Fret Board</a></li>
        	<li><a href="/media/26/">C Minor Across Fret Board</a></li>
        	<li><a href="/media/27/">C Diminished Across Fret Board</a></li>
        	<li><a href="/media/28/">C Power Across Fret Board</a></li>

<h3><a href="/media/29/">The Modes</a></h3>
       	<li><a href="/media/30/">Ionian</a></li>
        	<li><a href="/media/31/">Dorian</a></li>
        	<li><a href="/media/32/">Phrygian</a></li>
        	<li><a href="/media/33/">Lydian</a></li>
        	<li><a href="/media/34/">Mixolydian</a></li>
        	<li><a href="/media/35/">Aeolian</a></li>
        	<li><a href="/media/36/">Locrian</a></li>
        	<li><a href="/media/37/">C Ionian</a></li>
        	<li><a href="/media/38/">D Dorian</a></li>
        	<li><a href="/media/39/">E Phrygian</a></li>
        	<li><a href="/media/40/">F Lydian</a></li>

<li><a href="/media/41/">G Mixolydian</a></li>
        	<li><a href="/media/42/">A Aeolian</a></li>
        	<li><a href="/media/43/">B Locrian</a></li>
       
<h3><a href="/media/44/">Interval Walls</a></h3>
        	<li><a href="/media/45/">Interval Walls Ionian</a></li>
        	<li><a href="/media/46/">Interval Walls Dorian</a></li>
        	<li><a href="/media/47/">Interval Walls Lydian</a></li>
        	
</ul>
</div>
        <div class="col-md-3">
    
         	
 <ul class="list-unstyled">
<li><a href="/media/48/">Interval Walls Mixolydian</a></li>
        	<li><a href="/media/49/">Interval Walls Aeolian</a></li>


        	
<h3><a href="/media/50/">Pentatonic Modes </a></h3>

	<li><a href="/media/50/">C Ionian Pentatonic </a></li>
        	<li><a href="/media/51/">D Dorian Pentatonic</a></li>
        	<li><a href="/media/52/">E Phrygian Pentatonic</a></li>
        	<li><a href="/media/53/">G Mixolydian Pentatonic</a></li>
        	<li><a href="/media/54/">A Aeolian Pentatonic</a></li>

<h3><a href="/media/55/">Common Interval Patterns Types</a></h3>
       	<li><a href="/media/56/">Common Interval Patterns 1 4 5</a></li>
        	<li><a href="/media/57/">Common Interval Patterns 1 6 2 5</a></li>
        	<li><a href="/media/58/">Common Interval Patterns 1 5 6</a></li>
        	<li><a href="/media/59/">Common Interval Patterns 1 6 4 5</a></li>
        	<li><a href="/media/60/">Common Interval Patterns 6 5 4</a></li>
        	<li><a href="/media/61/">Common Interval Patterns 1 5 6 4</a></li>

<h3><a href="/media/62/">Common Strumming Patterns Types</a></h3>
        	<li><a href="/media/63/">Common Strumming Patterns Down Strokes</a></li>
        	<li><a href="/media/64/">Common Strumming Patterns Reggae</a></li>
        	<li><a href="/media/65/">Common Strumming Patterns Plucking</a></li>
</ul>
        </div>
 <div class="col-md-3">
     <ul class="list-unstyled">          

 
        	
<h3><a href="/media/66/">Arpeggio Exercises</a></h3>
        	<li><a href="/media/67/">Arpeggio Exercises Ionian</a></li>
        	<li><a href="/media/68/">Arpeggio Exercises Dorian</a></li>
        	<li><a href="/media/69/">Arpeggio Exercises Phrygian</a></li>
        	<li><a href="/media/70/">Arpeggio Exercises Lydian</a></li>
        	<li><a href="/media/71/">Arpeggio Exercises Mixolydian</a></li>
        	<li><a href="/media/72/">Arpeggio Exercises Aeolian</a></li>
        	<li><a href="/media/73/">Arpeggio Exercises Locrian</a></li>

   <h3><a href="/media/74/">Chord Construction Exercises</a></h3>
        	<li><a href="/media/75/">Chord Construction 1 3 5 E String</a></li>
        	<li><a href="/media/76/">Chord Construction 1 3 5 A String</a></li>
        	<li><a href="/media/77/">Chord Construction 1 3 5 D String</a></li>
        	<li><a href="/media/78/">Chord Construction 3 5 1 E String</a></li>
        	<li><a href="/media/79/">Chord Construction 3 5 1 A String</a></li>
        	<li><a href="/media/80/">Chord Construction 3 5 1 D String</a></li>
        	<li><a href="/media/81/">Chord Construction 5 1 3 E String</a></li>
        	<li><a href="/media/82/">Chord Construction 5 1 3 A String</a></li>
        	<li><a href="/media/83/">Chord Construction 5 1 3 D String</a></li>
        

          <p><a class="btn btn-success" href="/media/8/" role="button">View details &raquo;</a></p>
</ul>


        </div>
      </div>

   

     
    </div> <!-- /container -->


{% endblock content %}
