{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

	{% for post in object_list %}

		<div class="card">
			<div class="card-header">
				<div class="post-entry">
				<h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
				<span class="font-weight-bold">{{ post.author }}</span> &middot; 			<span class="text-muted">{{ post.date }}</span>
			</div>		
			<div class="card-body">
				<p>{{ post.message }}</p>
				<a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a>
			</div>
			</div>
			<div class="card-footer">
				{% for comment in post.comment_set.all %}
					<p>
					<span class="font-weight-bold">{{ comment.author }} &middot;</span>
					{{ comment }}
					</p>
				{% endfor %}
			</div>
			</div>
			
			<br />
{% endfor %}
{% endblock content %}
